.Badge-container {
    background: #57b6b21a;
    border-radius: 50px;
    padding: 6px 10px;
    color: #57b6b2;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
