.App-title-container .Projects-container {
    width: 95%;
}

.Projects-container .Projects-title {
    color: #000;
    font-family: "IBM Plex Sans : Medium : 26", sans-serif !important;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    line-height: 34px;
    padding-top: 13px;
    display: flex;
    justify-content: flex-start;
}

.Projects-container .Projects-title-menu {
    display: flex;
    justify-content: flex-end;
}

.Projects-tabs-container button {
    padding-top: 15px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: "IBM Plex Sans : Regular : 16", sans-serif !important;
    color: #000;
}

.Projects-tabs-container .tab-active {
    font-family: "IBM Plex Sans : Bold : 16", sans-serif !important;
    color: #000;
}

.Projects-loading-container .loader-container {
    margin: auto !important;
}
