.floating-div {
    position: fixed;
    top: 4.9rem;
    right: 37px;
    background-color: #eeeeee;
    color: #ffffff;
    border-radius: 5px;
    transition: top 0.3s ease-in-out;
    z-index: 30;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    justify-content: space-between;
    width: inherit;
    overflow: visible;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 600;
    font-size: 14px;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 600;
    font-size: 14px;
}

.div3 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: end;
    font-weight: 600;
    font-size: 14px;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: end;
    font-weight: 600;
    font-size: 14px;
}
.MuiDataGrid-treeDataGroupingCell {
    font-weight: 600;
    font-size: 14px;
}
.parent-row {
    background-color: #c9cccf;
}

.parent-row .MuiDataGrid-cell:not(:first-child) {
    position: relative; /* Ensure the parent is positioned */
}

.parent-row .MuiDataGrid-cell:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c9cccf;
    z-index: 1; /* Place the overlay above the cells */
}
.tree-child-row .MuiDataGrid-cell:not(:first-child) {
    position: relative; /* Ensure the parent is positioned */
}

.tree-child-row .MuiDataGrid-cell:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1; /* Place the overlay above the cells */
}
