.App-title-container .Projects-container {
    width: 95%;
}

.Projects-container .Projects-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #000;
    padding-top: 13px;
    display: flex;
    justify-content: flex-start;
}

.Projects-container .Projects-title-menu {
    display: flex;
    justify-content: flex-end;
}

.Projects-tabs-container button {
    padding-top: 22px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
}

.Projects-tabs-container .tab-active {
    font-weight: 600;
    font-size: 16px;
}

.Projects-loading-container .loader-container {
    margin: auto !important;
}
