.box {
    height: 76px;
    min-width: 238px;
    max-width: 400px;
}
.fullWidthBox {
    height: 55px;
    width: 100%;
}
.stickeyTop {
    display: block;
    position: fixed;
    top: 5rem;
    right: 2rem;
    z-index: 10;
    width: max-content;
}
.fullWidth {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.box .rectangle {
    border-radius: 4px;
    border: 1.5px solid var(--v-3-colors-text-primary-light, #0088c7);
    background: #ebf9fc;
    height: 76px;
    position: relative;
    min-width: 238px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-card-container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.missingvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    max-height: 400px;
}
.missingimg {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    image-rendering: pixelated;
    max-height: 400px;
    filter: brightness(110%);
}
.galleryContainer {
    transition: height 0.8s ease;
}
